* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    box-sizing: border-box;
}

html {
    --primary: rgba(78, 55, 4, 0.724);
    --secondary: rgba(132, 90, 0, 0.724);
    --background-primary: black;
    --color-primary: white;
    --color-hover: rgba(255, 166, 0, 0.55);
    --color-active: rgba(0, 128, 0, 0.594);

    font-family: 'Comfortaa', sans-serif;
    /* font-family: 'Pixelify Sans', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Stick No Bills', sans-serif; */
    /* font-family: 'Tourney', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    background-color: var(--background-primary);
    color: var(--color-primary);
}

h2 {
    font-size: 2rem;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

p {
    line-height: 1.75rem;
    margin: 1rem 0;
}

header {
    display: flex;
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    background-color: var(--background-primary);
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
}

header figure {
    display: flex;
    align-items: center;
}

header h2 {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 100;
    margin: 0;
}

header figure img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 1rem;
}

header nav {
    display: flex;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 100;
    font-size: 1.15rem;
}

header nav li {
    display: inline-block;
}

header nav li +li {
    margin-left: 1rem;
}

header nav li a {
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: inherit;
    border-radius: 1rem;
    background-color: var(--primary);
    border: .2rem solid rgba(0, 0, 0, 0);
}

header nav li a:hover {
    background-color: var(--secondary);
    border: .2rem solid var(--primary);
    color: var(--color-hover);
}

header nav li a:active {
    color: var(--color-active);
    border: .2rem solid var(--color-active);
}

.hamburger {
    position: relative;
    display: none;
    align-items: center;
    justify-content: end;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.hamburger div, .hamburger div::before, .hamburger div::after {
    background-color: var(--color-primary);
    height: .25rem;
    border-radius: .125rem;
    transition: all .3s ease-in-out;
    pointer-events: none;
}

.hamburger div::before, .hamburger div::after {
    content: '';
    position: absolute;
    right: 0;
}

.hamburger div {
    width: 2rem;
}

.hamburger div::before {
    transform: translateY(-1rem);
    width: 2.5rem;
}

.hamburger div::after {
    transform: translateY(1rem);
    width: 1.5rem;
}

.hamburger:hover div {
    width: 2.5rem;
}

.hamburger:hover:not(.hamburger-close) div::after {
    width: 2rem;
}

.hamburger:hover:not(.hamburger-close) div::before {
    width: 3rem;
}

.hamburger-close div::before, .hamburger-close div::after {
    transform-origin: center;
    width: 3rem;
}

.hamburger-close div::before {
    transform: translateY(0) rotate(45deg);
}

.hamburger-close div::after {
    transform: translateY(0) rotate(-45deg);
}

.hamburger-close div {
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 1200px) {
    header {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 1rem 1.5rem;
    }
}

@media only screen and (max-width: 1070px) {
    header nav {
        /* display: none; */
        transition: all 1s ease-in-out;
        position: absolute;
        top: 96px;
        right: 0;
        transform: translateX(100%);
    }

    header nav ul {
        text-align: center;
        background-color: var(--background-primary);
        width: 20rem;
        max-width: 100%;
        padding-bottom: 5rem;
    }

    header nav li {
        display: block;
        margin: 1rem;
    }

    .hamburger {
        display: flex;
    }
}

@media only screen and (max-width: 500px) {
    header h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 430px) {
    header h2 {
        display: none;
    }
}

section {
    padding: 1rem;
    position: relative;
    width: 70%;
    max-width: 700px;
    min-width: 300px;
    margin: auto;
}

main section:last-child div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

main section:last-child div > * {
    margin: 1rem;
}

#hero {
    height: 40rem;
    background-color: maroon;
    /* display: flex; */
    position: relative;
    background-image: url('../media/hero-background.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#hero div, #hero h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#hero div {
    background-color: var(--background-primary);
    margin: auto;
    filter: blur(.5rem);
    padding: 5rem 0;
    opacity: .5;
}

#hero h1 {
    margin: auto;
    padding: 0 .5rem;
    font-size: 4.5rem;
    /* font-family: 'Comfortaa', sans-serif; */
    /* font-family: 'Pixelify Sans', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Stick No Bills', sans-serif; */
    font-family: 'Tourney', sans-serif;
    font-weight: 900;
    background: url('../media/texture2.jpg') repeat;
    -webkit-background-clip: text;
    /* For Webkit browsers like Chrome and Safari */
    background-clip: text;
    color: transparent;
    /* Makes the text color transparent, revealing the background */
    z-index: 2;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    #hero h1 {
        font-size: 3.5rem;
    }
}

.anchor {
    position: absolute;
    top: -96px;
}

.img-bottom-inset {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.img-top-bottom-inset {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.img-top-inset {
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
}